{# Partial pour les widgets Dashboard #}
<div class="dashWidget has-classic-layout">
  <div class="dashWidget_title">Titre</div>
  <div class="dashWidget_content">Contenu</div>
</div>

<div class="dashWidget has-featured-layout">
  <div class="dashWidget_title">Titre</div>
  <div class="dashWidget_content">Contenu</div>
</div>

<div class="dashWidget has-aside-layout">
  <div class="dashWidget_title">Titre</div>
  <div class="dashWidget_content">Contenu</div>
</div>
