{# back-layout.twig #}
{# ------------------------------------------------------------------------- #}

{# VARIABLES STATIQUES #}
{# ------------------------------------------------------------------------- #}
{# Préférez mettre vos variables dans le fichier:                            #}
{#     ./src/data/pages/test.json                                            #}
{# De même, les variables "globales" d'environnement devrais être dans:      #}
{#     ./src/data/data.json                                                  #}

{# LAYOUT #}
{# ------------------------------------------------------------------------- #}
{% extends "../layouts/_back-layout.twig" %}

{# GABARIT PRINCIPAL #}
{# ------------------------------------------------------------------------- #}

{% block intro %}
  <h1 class="dashContent_intro_title">Bonjour <span class="emphasis">Florent,</span> <span class="smaller">comment ça va ?</span></h1>
{% endblock %}

{% block main %}
  {% include '../partials/_dashWidget.twig' %}
{% endblock %}

{% block sidebar %}
  {% include '../partials/_dashWidget.twig' %}
{% endblock %}
