// Palette des couleurs
// ====================

// Debug
// ------
// Variables de couleurs de debug :
$p : peachpuff !default;
$r : rebeccapurple !default;
$l : lightgreen !default;

// Couleurs de base
// ----------------

$white: #fff !default;
$black: #000 !default;


// Couleurs back-office
// --------------------

// BG Layout
$guardsmanred   : #b90313 !default; // body background

// UI
$torchred            : #f9061d !default; // message hover // hold/new display // Sunday
$gray                : #8a8989 !default; // disabled text
$dovegrave           : #6c6c6c !default; // read avatar default bg
$pelorous            : #35a9c9 !default; // saturday blue

// Couleurs front-office
// ---------------------


// Layout
// ------
$body-bg              : $guardsmanred !default;

// Composants
// ----------
$color-text-primary   :  $white !default;
